= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name, class: "form-control"
  .field
    = f.label :email
    %br
    = f.text_field :email, class: "form-control"
  .field
    = f.label :role_id
    %br/
    = collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true})
  .field
    = f.label :password
    %br/
    = f.password_field :password, placeholder: "leave it blank if unchanged"
    
  .actions
    = f.submit
